// xs
body::after {
	display: none;
	position: fixed;
	bottom: 0;
	content: 'xs';
	background: #ffff00;
	padding-left: 3px;
	padding-right: 3px;
}

body.dev::after {
	display: block;
}

// xs only
@media (max-width: @screen-xs-max) {}

// sm
@media (min-width: @screen-sm-min) {

	body::after {
		content: 'sm';
	}
}

// md
@media (min-width: @screen-md-min) {

	body::after {
		content: 'md';
	}
}

// lg
@media (min-width: @screen-lg-min) {

	body::after {
		content: 'lg';
	}
}
