// xs

//////////////
// Headings
h1 {
	line-height: 36px;
	margin-top: @getu-spacing-xs-top;
	margin-bottom: @getu-spacing-xs-bottom;
}

h2 {
	line-height: 33px;
	margin-top: @getu-spacing-xs-top;
	margin-bottom: calc(~'@{getu-spacing-xs-bottom}' - 10px);
}

h3 {
	line-height: 27px;
	margin-top: @getu-spacing-xs-top;
	margin-bottom: calc(~'@{getu-spacing-xs-bottom}' - 20px);
}

h4 {
	line-height: 19px;
	margin-top: @getu-spacing-xs-top;
	margin-bottom: calc(~'@{getu-spacing-xs-bottom}' - 30px);
}

h5, h6 {
	line-height: 19px;
	margin-top: @getu-spacing-xs-top;
	margin-bottom: calc(~'@{getu-spacing-xs-bottom}' - 30px);
}


///////
// Lead
.lead {
	margin-top: @getu-spacing-xs-top;
	margin-bottom: @getu-spacing-xs-bottom;
}

/////////////
// Paragraphs
p {
	margin-top: @getu-spacing-xs-top;
	margin-bottom: @getu-spacing-xs-bottom;
}

/////////
// Lists
ul, ol {
	padding-left: 20px;
	margin-top: @getu-spacing-xs-top;
	margin-bottom: @getu-spacing-xs-bottom;
	margin-bottom: @getu-spacing-xs-bottom;
}

/////////
// Images
img {
	margin-top: @getu-spacing-xs-top;
	margin-bottom: @getu-spacing-xs-bottom;
}

/////////
// Tables
table {
	margin-top: @getu-spacing-xs-top;
	margin-bottom: @getu-spacing-xs-bottom;
}

//////////
// Buttons
.btn {
	margin-top: @getu-spacing-xs-top;
	margin-bottom: @getu-spacing-xs-bottom;
}

//////////////
// Blockquotes
blockquote {
	margin-top: @getu-spacing-xs-top;
	margin-bottom: @getu-spacing-xs-bottom;
	padding: 0 23px;
	font-size: 20px;
	font-family: @font-family-serif;
	font-weight: 300;
	line-height: 30px;

	.media-body {
		padding-bottom: 0;

		p {
			margin-top: 0;
			margin-bottom: 10px;
		}
	}

	.media-left {
		display: block;
		margin-bottom: 20px;
		padding-right: 20px;
	}

	.media-object {
		margin-right: 10px;
		margin: 0;
	}

	footer {
		font-family: @font-family-sans-serif;
		font-size: 14px;
		font-weight: 400;
		color: @gray-light;
	}
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
	content: none;
}

//////////////
// Links
a {
	text-decoration: underline;
}

//////////
// Alerts
.alert {
	font-size: @font-size-small;
}


////////////////////
// Reset Link styles
.nav-tabs,
.dropdown-menu,
.pager {
	a {
		text-decoration: none;
	}
}


////////////////
// Close Buttons
.close {
	font-size: 26px;
	font-weight: normal;
}

.alert .close {
	opacity: 1;
}


/////////
// Modals
.modal-content {
	border: none;
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.15);
}

.modal-header {
	background: @getu-gray-4;

	.close {
		margin-top: 0;
		font-size: 26px;
	}
}

.modal-footer {

	.btn {
		margin: 0;
	}
}


////////////////
// Progress Bars
.progress {
	height: 10px;
	box-shadow: none;
}


////////
// Pager
.pager {
	font-size: @font-size-small;

	li {
		> a:hover,
		> a:focus {
			color: #ffffff;
			text-decoration: none;
			background-color: @pager-hover-bg;
		}
	}
	.disabled {
		> a,
		> a:hover,
		> a:focus,
		> span {
			border-color: #999999;
			color: @pager-disabled-color;
			background-color: @pager-bg;
			cursor: @cursor-disabled;
		}
	}
}


/////////////
// Pagination
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: @line-height-computed 0;
	border-radius: @border-radius-base;

	> li {
	display: inline; // Remove list-style and block-level defaults
	> a,
	> span {
		position: relative;
	  float: left; // Collapse white-space
	  padding: 4px 12px;
	  //width: 32px;
	  //height: 32px;
	  line-height: @line-height-base;
	  font-size: @font-size-small;
	  text-decoration: none;
	  color: @pagination-color;
	  background-color: @pagination-bg;
	  border: none;
	  margin-left: 0;
	}
	&:first-child {
		> a,
		> span {
			margin-left: 0;
			.border-left-radius(@border-radius-base);
		}
	}
	&:last-child {
		> a,
		> span {
			.border-right-radius(@border-radius-base);
		}
	}
}

> li > a,
> li > span {
	&:hover,
	&:focus {
		background-color: @getu-gray-4;
		color: @pagination-color;
		border-radius: 16px;
	}
}

> .active > a,
> .active > span {
	&,
	&:hover,
	&:focus {
		border-radius: 16px;
	}
}

> .disabled {
	> span,
	> span:hover,
	> span:focus,
	> a,
	> a:hover,
	> a:focus {
		color: @pagination-disabled-color;
		background-color: @pagination-disabled-bg;
		border-color: @pagination-disabled-border;
		cursor: @cursor-disabled;
	}
}
}



///////////
// Popovers
.popover {
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.15);
}

.popover-title {
	padding-top: 20px;
	padding-bottom: 15px;
	font-weight: bold;
}

.popover-content {
	padding: 0px 15px 20px 15px;
}





//////////
// Buttons
.button-variant(@color; @background; @border) {
	color: @color;
	background-color: @background;
	border-color: @border;
	text-decoration: none;

	&:focus,
	&.focus {
		color: @color;
		background-color: darken(@background, 10%);
		border-color: darken(@border, 10%);
	}
	&:hover {
		color: @color;
		background-color: darken(@background, 10%);
		border-color: darken(@border, 10%);
	}
	&:active,
	&.active,
	.open > .dropdown-toggle& {
		color: @color;
		background-color: darken(@background, 10%);
		border-color: darken(@border, 10%);

		&:hover,
		&:focus,
		&.focus {
			color: @color;
			background-color: darken(@background, 17%);
			border-color: darken(@border, 17%);
		}
	}
	&:active,
	&.active,
	.open > .dropdown-toggle& {
		background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&:hover,
		&:focus,
		&.focus {
			background-color: @background;
			border-color: @border;
		}
	}

	.badge {
		color: @background;
		background-color: @color;
	}
}

.btn {

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		cursor: @cursor-disabled;
		.opacity(.33);
		.box-shadow(none);
	}

	a & {
		&.disabled,
		fieldset[disabled] & {
			pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
		}
	}

}

.btn-default {

	&:hover {
		color: #ffffff;
		background: @brand-primary;
		border-color: @brand-primary;
	}
}


.btn-primary-inverted {
	.button-variant(@btn-primary-inverted-color; @btn-primary-inverted-background; @btn-primary-inverted-border);
}

.btn-default-inverted {
	color: @btn-default-inverted-color;
	background: transparent;
	border-color: @btn-default-inverted-border;

	&:hover {
		color: @btn-default-inverted-color-hover;
		background: @btn-default-inverted-border;
		border-color: @btn-default-inverted-border;
	}
}

/////////
// Badges
.badge {
	font-weight: 400;
	font-size: @font-size-small;
	font-size: 75%;
}


////////////////
// Dropdown Menu
.dropdown-menu {
	border: none;
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.15);
	top: 60px;
}



/////////////////
// Forms & Inputs
label {
	font-weight: 400;
}

.form-control {
	box-shadow: none;

	&:focus {

	}
}

.form-error {
	color: @brand-danger;
	padding: 5px 0;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	color: @getu-gray-2;
	box-shadow: inset 0px 1px 0px 0px #ECECEC;
}

// selectize tweaks
.selectize-dropdown, .selectize-dropdown.form-control {
	border: none;
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.15);
}

.selectize-control.input-lg {

	.selectize-input {
		min-height: @input-height-large;
		padding: 10px 16px;
	}
}


////////
// Panel
.panel {
	box-shadow: none;

	img {
		margin: 0;
	}

	.btn {
		margin: 0;
	}
}


//////////
// Labels
.label {
	font-weight: 400;
	padding: .2em .6em .2em .6em;
}




// xs only
@media (max-width: @screen-xs-max) {

}

// sm
@media (min-width: @screen-sm-min) {

	//////////////
	// Headings
	h1 {
		margin-top: @getu-spacing-top;
		margin-bottom: @getu-spacing-bottom;
		font-size: 36px;
		line-height: 49px;
	}

	h2 {
		margin-top: @getu-spacing-top;
		margin-bottom: calc(~'@{getu-spacing-xs-bottom}' - 10px);
		font-size: 30px;
		line-height: 41px;
	}

	h3 {
		margin-top: @getu-spacing-top;
		margin-bottom: calc(~'@{getu-spacing-xs-bottom}' - 20px);
		font-size: 24px;
		line-height: 33px;
	}

	h4 {
		margin-top: @getu-spacing-top;
		margin-bottom: calc(~'@{getu-spacing-xs-bottom}' - 30px);
		font-size: 18px;
		line-height: 24px;
	}

	h5, h6 {
		margin-top: @getu-spacing-top;
		margin-bottom: calc(~'@{getu-spacing-xs-bottom}' - 30px);
		font-size: 14px;
		line-height: 19px;
	}

	/////////////
	// Paragraphs
	p {
		margin-top: @getu-spacing-top;
		margin-bottom: @getu-spacing-bottom;
	}

	/////////
	// Images
	img {
		margin-top: @getu-spacing-top;
		margin-bottom: @getu-spacing-bottom;
	}

	//////////////
	// Blockquotes
	blockquote {
		margin-top: @getu-spacing-top;
		margin-bottom: @getu-spacing-bottom;

		.media-left {
			display: table-cell;
			margin-bottom: 0;
		}
	}

	////////
	// Lead
	.lead {
		margin-top: @getu-spacing-top;
		margin-bottom: @getu-spacing-bottom;
		font-size: 20px;
		line-height: 30px;
	}

	/////////
	// Tables
	table {
		margin-top: @getu-spacing-xs-top;
		margin-bottom: @getu-spacing-xs-bottom;
	}
}

// md
@media (min-width: @screen-md-min) {

}

// lg
@media (min-width: @screen-lg-min) {

}
