// xs
.getu-carousel {
	padding: 0;
	position: relative;
	background: @getu-gray-4;
	position: relative;
	.vertical-align-container();

	img {
		margin: 0;
	}
}

.getu-top-navi + .getu-carousel {
	margin-top: -@getu-header-spacing;
}

.slick-prev,
.slick-next {
	display: block;
	width: 40px;
	height: 40px;
	.vertical-align();
	position: absolute;
	z-index: 2;

	&:hover {
		opacity: 0.8;
	}

	&:hover {
		opacity: 0.8;
	}
}

.slick-prev {
	background: url('../images/carousel_left_black.svg') center center no-repeat;
	left: 20px;
}

.slick-next {
	background: url('../images/carousel_right_black.svg') center center no-repeat;
	right: 20px;
}

.slick-dots {
	list-style-type: none;
	position: absolute;
	bottom: -7px;
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;

	li {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;

		&.slick-active button:before {
			background: url('../images/dot_active.png') center center no-repeat;
			background-size: 10px 10px;
		}
	}

	button {
		font-size: 0;
		line-height: 0;
		display: block;
		width: 20px;
		height: 20px;
		padding: 5px;
		cursor: pointer;
		color: transparent;
		border: 0;
		outline: none;
		background: transparent;

		&:before {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 20px;
			height: 20px;
			content: "";
			text-align: center;
			background: url('../images/dot.png') center center no-repeat;
			background-size: 10px 10px;
		}
	}
}



// xs only
@media (max-width: @screen-xs-max) {

	// .slick-prev,
	// .slick-next {
	// 	display: none !important;
	// }
}

// sm
@media (min-width: @screen-sm-min) {

	.slick-prev,
	.slick-next {
		width: 75px;
		height: 75px;
	}

	.slick-prev {
		background: url('../images/carousel_left.svg') center center no-repeat;
	}

	.slick-next {
		background: url('../images/carousel_right.svg') center center no-repeat;
	}
}

// md
@media (min-width: @screen-md-min) {

}

// lg
@media (min-width: @screen-lg-min) {

}
