// xs

body {
	.font-smoothing();

	a,
	button {
		transition: @getu-transition;
	}

	.container {
		transition: @getu-transition-slow;
	}

	// text selection
	::selection {
	  background: @brand-primary; /* WebKit/Blink Browsers */
	  color: #ffffff;
	}
	::-moz-selection {
	  background: @brand-primary; /* Gecko Browsers */
	  color: #ffffff;
	}
}

.replace-radio('../images/radio.svg', '../images/radio_checked.svg', 16px, 16px, 25px, #000000, getunik-radio, 5px);
.replace-checkbox('../images/checkbox.svg', '../images/checkbox_checked.svg', 16px, 16px, 25px, #000000, getunik-checkbox, 5px);

.teaser {
	font-size: 14px;
	font-weight: 400;
}

.dark {
	background: @getu-gray-4;
}

section,
.section {
	padding-top: @getu-section-spacing-top;
	padding-bottom: @getu-section-spacing-bottom;
}

.getunik-checkbox:disabled + label:before {
	background-image: url('../images/checkbox_disabled.svg');
}
.getunik-radio:disabled + label:before {
	background-image: url('../images/radio_disabled.svg');
}

// xs only
@media (max-width: @screen-xs-max) {

}

// sm
@media (min-width: @screen-sm-min) {

}

// md
@media (min-width: @screen-md-min) {

}

// lg
@media (min-width: @screen-lg-min) {

}
