// xs
.getu-jumbotron {
	.clearfix();
	position: relative;

	h1 {
		margin: 0 0 20px 0;
		padding: 0 14%;
		color: #ffffff;
		text-align: center;
		font-size: 26px;
		font-weight: 400;
	}

	h2 {
		margin: 0;
		padding: 0 15%;
		color: #ffffff;
		text-align: center;
		font-weight: 300;
		font-size: 18px;
	}

	.lead {
		padding: 0 14%;
		font-weight: 300;
		font-size: 18px;
		font-weight: 300;
		line-height: 32px;
		color: #ffffff;
	}

	img {
		margin: 0;
	}
}

.getu-top-navi + .getu-jumbotron {
	margin-top: -@getu-header-spacing;
}

.getu-jumbotron-tint {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: @getu-jumbotron-tint;
	opacity: @getu-jumbotron-tint-opacity;
}

.getu-jumbotron-title-wrapper {
	width: 100%;
	position: absolute;
	top: 15%;
	z-index: 1;
}

.getu-jumbotron-btn-wrapper {
	margin-top: 35px;
}

.getu-jumbotron-image-wrapper {
	// Vertical center h1 title
	position: relative;
	padding: 0;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -5px; /* Adjusts for spacing */
	}
}

.getu-jumbotron-image {
	position: relative;
}

// xs only
@media (max-width: @screen-xs-max) {

	.getu-jumbotron-image-wrapper {
		background-image: none !important;
		.clearfix();
	}

	.getu-jumbotron-image-apart {

		.getu-jumbotron-tint {
			display: none;
		}

		.getu-jumbotron-title-wrapper {
			position: static;
			padding: 20px 20px 20px 20px;
			background: @getu-gray-4;

			& > * {
				color: #000000;
			}
		}
	}

}

// sm
@media (min-width: @screen-sm-min) {

	.getu-jumbotron {
		height: @getu-jumbotron-height;
		padding: 0;

		.getu-jumbotron-image-wrapper {
			background-size: cover;
			background-position: 50% 50%;
			height: @getu-jumbotron-height;
		}

		h1 {
			font-size: 80px;
			font-weight: 300;
		}

		h2 {
			font-size: 28px;
			font-weight: 300;
		}

		.lead {
			font-weight: 300;
			font-size: 20px;
		}
	}

	.getu-jumbotron-tint {

	}

	.getu-jumbotron-title-wrapper {
		// Vertical center h1 title
		position: static;
		display: inline-block;
		vertical-align: middle;
		width: 100%;

		& > * {
			position: relative;
			z-index: 1;
		}
	}

}

// md
@media (min-width: @screen-md-min) {

}

// lg
@media (min-width: @screen-lg-min) {

}
























