////////////////
// Rounded Image
.mixin-getu-image-link(@size) {
	width: @size;
	height: @size;
	display: inline-block;
	position: relative;

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: @getu-spacing-top;
		left: 0;
		width: @size;
		height: @size;
		background: @brand-primary;
		opacity: 0;
		border-radius: 50%;
		transition: @getu-transition;
	}

	&:hover {
		position: relative;

		&:before {
			opacity: 0.5;
		}
	}
}

.getu-img-link-256 {
	.mixin-getu-image-link(256px);
}
.getu-img-link-128 {
	.mixin-getu-image-link(128px);
}
.getu-img-link-64 {
	.mixin-getu-image-link(64px);
}
.getu-img-link-32 {
	.mixin-getu-image-link(32px);
}


.getu-img-round {
	display: inline-block;
	border-radius: 50%;
}

.getu-img-128 {
	width: 128px;
	height: 128px;
}

.getu-img-64 {
	max-width: 64px;
	max-height: 64px;
}

.getu-img-32 {
	max-width: 32px;
	max-height: 32px;
}
