// xs


// xs only
@media (max-width: @screen-xs-max) {

	// responsive table
	table.table {
		width: 100%;
		margin-top: 30px;
		margin-bottom: 30px;

		thead {
	      display: none;

	      	th {
				border: none;
			}
	    }

		tr {
			display: block;
			margin-bottom: 20px;
		}

		td {
			display: block;
			text-align: right;

			&:before {
		      content: attr(data-label);
		      float: left;
		      font-weight: bold;
		    }
		}
	}

}

// sm
@media (min-width: @screen-sm-min) {

}

// md
@media (min-width: @screen-md-min) {

}

// lg
@media (min-width: @screen-lg-min) {

}
