.getu-top-navi {
	margin-bottom: @getu-header-spacing;

}

.getu-top-navi .container {
	padding-left: 0;
	padding-right: 0;
}

.navbar-header {
	border: none;
	background-color: #ffffff;
}

.navbar {
	border: none;
	min-height: 0;
}

.navbar.navbar-default {
	border: none;
	margin-bottom: 0;
}

.nav.navbar-nav {
	padding-left: 15px;
	padding-right: 15px;

	li {

		a {
			text-align: center;
			text-decoration: none;
		}
	}
}

.navbar-collapse {
	background-color: @brand-primary;
}

.navbar-default .navbar-toggle {
	padding: 0;
	margin-top: 20px;
	margin-bottom: 20px;

	& span.icon-bar {
		background-color: #000000;
		height: 4px;
	}
}

// xs only
@media (max-width: @screen-xs-max) {

	.nav.navbar-nav li::after {
		display: block;
		content: ' ';
		opacity: 0.33;
		border-bottom: 1px solid #ffffff;
		width: 100%;
	}

	.nav.navbar-nav li:last-of-type::after {
		display: block;
		content: ' ';
		opacity: 0.33;
		border-bottom: none;
		width: 100%;
	}


	.nav.navbar-nav {

		li {
			&.active {

				a {
					font-weight: 700;
				}
			}
		}
	}

}

// sm
@media (min-width: @screen-sm-min) {

	.getu-top-navi .container,
	.navbar-collapse {
		padding-left: 0;
		padding-right: 0;
		background-color: #ffffff;
	}

	.navbar {

		&.navbar-default {
			background-color: #ffffff;
			margin-bottom: 0;
		}
	}

	.getu-top-navi {
		background: #ffffff;
		box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.15);

		.nav.navbar-nav {
			padding-left: 0;
			padding-right: 0;

			li {
				display: inline-block;
				margin-right: 30px;

				&:last-child {
					margin-right: 0;
				}

				&.active {

					a {
						border-bottom: 4px solid @brand-primary;

						&:hover {
							color: #000000;
							background-color: #ffffff;
						}
					}
				}

				a {
					padding-top: 30px;
					padding-bottom: 26px;
					text-decoration: none;
					color: #000000;
					background-color: #ffffff;
					font-size: 16px;
					font-weight: 400;
					padding-left: 0px;
					padding-right: 0px;
					border-bottom: 4px solid #ffffff;

					&:hover {
						border-bottom: 4px solid @brand-primary;
					}
				}
			}
		}
	}

}

// md
@media (min-width: @screen-md-min) {

	.getu-top-navi .nav.navbar-nav li {
		margin-right: 40px;
	}

}

// lg
@media (min-width: @screen-lg-min) {

}
