
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,700);

.ui-heading {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	border-bottom: 2px solid #000000;
	padding-bottom: 15px;
	margin-top: 50px;
	text-transform: uppercase;
	font-weight: 700;
}

.ui-heading-sub {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	padding-bottom: 15px;
	margin-top: 50px;
	margin-bottom: 20px;
	text-transform: none;
	font-weight: 300;
	border-bottom: 1px solid #dddddd;
}

.ui-heading-sub-no-border {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	padding-bottom: 15px;
	margin-top: 50px;
	margin-bottom: 0px;
	text-transform: none;
	font-weight: 300;
	border-bottom: none;
}

.ui-heading-inverted {
	color: #ffffff;
}

.ui-dark {
	background: #000000;
}

.ui-color {
	height: 111px;
	padding: 20px;
}

.ui-guide-logo {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 100px;
}

.ui-color-primary {
	background: @brand-primary;
	color: lighten(@brand-primary, 20%);
}
.ui-color-secondary {
	background: @brand-secondary;
	color: lighten(@brand-secondary, 20%);
}
.ui-color-gray-1 {
	background: @getu-gray-1;
	color: lighten(@getu-gray-1, 20%);
}
.ui-color-gray-2 {
	background: @getu-gray-2;
	color: lighten(@getu-gray-2, 20%);
}
.ui-color-gray-3 {
	background: @getu-gray-3;
	color: lighten(@getu-gray-3, 20%);
}
.ui-color-gray-4 {
	background: @getu-gray-4;
	color: lighten(@getu-gray-4, 20%);
}

.getu-jumbotron.ui-guide-bs-splash {
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;

	h1 {
		font-size: 50px;
		line-height: 68px;
		font-weight: 700;
		text-transform: uppercase;
	}

	p.lead {
		font-size: 22px;
		line-height: 26px;
	}

	.getu-jumbotron-tint {
		background: none;
		opacity: 1;
	}

	.btn-primary-inverted {
		font-size: 18px;
		font-weight: bold;
		color: @brand-primary;
		padding-left: 30px;
		padding-right: 30px;
	}
}

.ui-sidebar-navigation {
	padding-top: 80px;
	transition: @getu-transition-slow;

	ul {
		top: 0;
		padding-left: 0;
		list-style-type: none;

		a,
		a:focus {
			display: block;
			padding: 5px 9px 5px 9px;
			text-decoration: none;
			font-size: 14px;
			font-weight: 400;
			border-left: 2px solid #ffffff;
			background: none;

			&:hover {
				border-left: 2px solid @brand-primary;
				background: none;
			}
		}

		li.active {

			a {
				border-left: 2px solid @brand-primary;
				background: none;
			}
		}

	}

}

.ui-footer {
	margin-top: @getu-footer-spacing;
	padding-top: 60px;
	background-color: @brand-primary;

	h4 {
		color: #ffffff;
	}

	ul {
		list-style-type: none;
		padding-left: 0;

		li {
			color: #ffffff;

			a {
				color: #ffffff;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.ui-copyright {
	font-size: 14px;
	line-height: 19px;
	color: #ffffff;
	margin-bottom: 100px;

	hr {
		margin-top: 0;
		margin-bottom: 10px;
		opacity: 0.33;
		border-top: 1px solid #ffffff;
	}

	a {
		font-size: 14px;
		line-height: 19px;
		color: #ffffff;
		text-decoration: none;
	}
}

// xs only
@media (max-width: @screen-xs-max) {

	.getu-jumbotron.ui-guide-bs-splash {

		background: @brand-primary;

		.getu-jumbotron-image {
			position: absolute;
			bottom: 0;

		}
	}
}

// sm
@media (min-width: @screen-sm-min) {

	.getu-jumbotron.ui-guide-bs-splash {

		h1 {
			font-size: 115px;
			line-height: 175px;
		}

		p.lead {
			font-size: 32px;
			line-height: 32px;
		}

		.btn-primary-inverted {
			padding-left: 95px;
			padding-right: 95px;
		}
	}

}

// md
@media (min-width: @screen-md-min) {

	.ui-guide-logo {
		position: absolute;
		top: 70px;
		left: 70px;
		width: 175px;
	}

	.getu-jumbotron.ui-guide-bs-splash h1 {
		font-size: 175px;
		line-height: 240px;
	}

}

// lg
@media (min-width: @screen-lg-min) {

}
