////////////////
// Brand Extends
@brand-secondary: #E0DCA6;


//////////////
// Transitions
@getu-transition: all 0.1s ease-in-out 0s;
@getu-transition-slow: all 0.3s ease-in-out;


////////////////////
// 50 shades of gray
@getu-gray-1: #000000;
@getu-gray-2: #cccccc;
@getu-gray-3: #dddddd;
@getu-gray-4: #f7f7f7;


/////////////////
// Button Extends
@btn-primary-inverted-color: #000000;
@btn-primary-inverted-background: #ffffff;
@btn-primary-inverted-border: #ffffff;

@btn-default-inverted-color: #ffffff;
@btn-default-inverted-color-hover: #000000;
@btn-default-inverted-background: #ffffff;
@btn-default-inverted-border: #ffffff;


/////////////
// Jumbotron
@getu-jumbotron-height: 678px;
@getu-jumbotron-tint: #000000;
@getu-jumbotron-tint-opacity: 0.5;


////////////////////////////////////
// Getunik Default Vertical Spacings
@getu-spacing-xs-top: 10px;
@getu-spacing-xs-bottom: 40px;

@getu-spacing-top: 10px;
@getu-spacing-bottom: 40px;

@getu-header-spacing: 80px;
@getu-footer-spacing: 80px;

@getu-section-spacing-top: 70px;
@getu-section-spacing-bottom: 40px;



