
// Google Webfont Example
// here: @import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
// then in _bootstrap_vars.less: @font-family-sans-serif:  "Source Sans Pro", Helvetica, Arial, sans-serif;

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

// Self hosted webfont example
// set a @font-path variable
// @font-face{
// 	font-family:"Trade Gothic Next W01";
// 	src:url("@{font-path}8a6c3750-4927-4649-9dac-87049f5e9700.eot?#iefix");
// 	src:url("@{font-path}fonts/8a6c3750-4927-4649-9dac-87049f5e9700.eot?#iefix") format("eot"),url("@{font-path}d4eef5b1-2f4a-42d6-ae2d-6220d71243be.woff2") format("woff2"),url("@{font-path}57625f96-ca80-4602-9644-ec1803cb3ba3.woff") format("woff"),url("@{font-path}6618d500-1727-4334-878e-1c4b95192f42.ttf") format("truetype"),url("@{font-path}01ebe944-ca6c-41db-a3ba-b7e2a90536d9.svg#01ebe944-ca6c-41db-a3ba-b7e2a90536d9") format("svg");
// }
